import datetime as dt

google_json_file = 'x'
google_sheet_id = 'x'

warcraft_logs_api_key = 'x'

c_date = dt.datetime(2020, 12, 5) # Start of Naxx
raid_id = 1006 # Naxx ID

guild = 'x'
server = 'x'

# OPTIONAL PARAMETERS
report_ids = ['1', '2', '3'] # list 1 or many reports
team_players = ['A', 'B', 'C'] # list 1 or many players
healers = ['A', 'B', 'C'] # list 1 or many players