google_json_file = 'x'
google_sheet_id = 'x'
warcraft_logs_api_key = 'x'
report_ids = ['1', '2', '3'] # list 1 or many reports
team_players = ['A', 'B', 'C'] # list 1 or many players
healers = ['A', 'B', 'C'] # list 1 or many players
buff_ids = ['1', '2', '3'] # list 1 or many buff_ids
c_date = dt.datetime(2020, 7, 12)
raid_id = 1002
